@import url(../../../for_menu/global.css);

.header, .bg1, .CTA, .bg2, .bg3, .footer {
	--color-1: #EA0D60;
	background-size: 100%;
	width: 100vw;
}

.header {
	height: 47.29vw;
	background-image: url(imgs/header_bg.png);
}

.bg1 {
	height: 50.34vw;
	background-image: url(imgs/01_bg.png);
}

.CTA {
	height: 17.65vw;
	background-image: url(imgs/CTA_bg.png);
}

.bg2 {
	height: 89.33vw;
	background: #fff;
}

.bg3 {
	height: 43.66vw;
	background-image: url(imgs/03_bg.png);
}

.comments {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1vh 1vw;
}

.comment-div {
	margin: 1vh 1vw;
	overflow: hidden;
    border-radius: calc((1vh+1vw));
    width: 90%;
    max-width: 80vh;
    min-height: 10vh;
    background: #e7e7e7;
    font-family: roboto;
}

.img-div {
	width: 10vh;
	height: 10vh;
    float: left;
    padding: 1% 1%;
    margin-right: 5%;
    background: #d9d9d9;
    border-bottom-right-radius: 50%;
}

.img-div > img {
	width: 100%;
}

.text-block {
	padding: 1vh 2vw;
}

.name {
	font-size: 3vh;
    text-transform: capitalize;
    font-family: roboto_b;
    color: #e98317;
    text-align: left;
}

.text {
	margin-left: 3%;
    margin-right: 3%;
    text-align: left;
    font-size: 1.5vh;
    min-height: 4vh;
}

.likes {
	text-align: right;
    color: #f00;
    font-size: 1.5vh;
    font-family: roboto_b;
}


.footer {
	height: 29.37vw;
	background: #000;
}

.sumbit {
	background: #f00;
	height: 5vh;
	width: 5vh;
	color: #fff;
}