@import url(../../../for_menu/global.css);

body {
    overflow-x: hidden;
    background: #323232;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;

}

header {
    height: 5vh;
    width: 100vw;
    font-size: 5vh;
    text-align: center;
    line-height: 5vh;
    font-family: poly;
    background: #ff3232;
    color: #fff;
}

.to_labs {
	color: #fff;
}