@import url(../../../for_menu/global.css);

body {
    background: #323232;
}

header {
    height: 5vh;
    width: 100vw;
    font-size: 5vh;
    text-align: center;
    line-height: 5vh;
    font-family: poly;
    background: #ff3232;
    color: #fff;
}

.to_labs {
	color: #fff;
}

.preloader {
    --loading: 0vw;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #323232;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    opacity: 1;
    visibility: visible;
    transition-duration: 0.5s;
    z-index: 100;

}

.l-text {
    height: 5vh;
    font-size: 3vh;
    font-family: sf;
    color: #ff3232;
    text-shadow: 0 0 5vh #ff3232, 0 0 5vh #ff3232;
}

.loading-box {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 1vh;
    background: #252525;
    border-radius: 0.5vh;
}

.loading-line {
    width: var(--loading);
    height: 1vh;
    background: #ff3232;
    box-shadow: 0 0 5vh 0 #ff3232;
    border-radius: 0.5vh;
    animation: l-line-anim 10s 1 forwards;
}

    @keyframes l-line-anim {
        0%   {height: 1vh; width: 0vw;}
        100% {height: 1vh; width: 38vw;}
    }