
:root {
	--bg-c: #000;
	--circ1-c: #ff0;
	--circ2-c: #0ff;
	--circ3-c: #f0f;
	--fix-circ-c: #fff;
	
	--circ-blur: 3;
	--circ-blur-vh: calc( var(--circ-blur) * 1vh );
	--circ-contrast: 100;

	--circ-block-scale: 1;
	
	--circ-s: 10;
	--circ-s-vh: calc( var(--circ-s) * 1vh );
	--anim-d: 6s;
	--block-rotate-d: calc(1s / 90);
	
	--sin_120: 0.866025;
	--cos_120: -0.5;
	--sin_240: -0.866025;
	--cos_240: -0.5;
}

body {
	margin: 0;
	background: var(--bg-c);
	overflow: hidden;
}

.moving-circ {
	filter: blur(var(--circ-blur-vh)) contrast(var(--circ-contrast));
	height: 100vh;
	width: 100vw;
	background: var(--bg-c);
	transform: scale(var(--circ-block-scale));
	animation: linear long_rotate var(--block-rotate-d) infinite;
}

.circ1, .circ2, .circ3, .fixed-circ  {
	position: fixed;
	border-radius: 50%;
}

.circ1, .circ2, .circ3  {
	width: var(--circ-s-vh);
	height: var(--circ-s-vh);
	margin: calc(50vh - var(--circ-s-vh) / 2) calc(50vw - var(--circ-s-vh) / 2);
}

.circ1 {
	background: var(--circ1-c);
	animation: linear circ1_go var(--anim-d) infinite;
}

.circ2 {
	background: var(--circ2-c);
	animation: linear circ2_go var(--anim-d) infinite;
}

.circ3 {
	background: var(--circ3-c);
	animation: linear circ3_go var(--anim-d) infinite;
}

.fixed-circ {
	background: var(--fix-circ-c);
	margin: calc(50vh - var(--circ-blur-vh)) calc(50vw - var(--circ-blur-vh));
	height: calc(var(--circ-blur-vh) * 2);
	width: calc(var(--circ-blur-vh) * 2);
	animation: linear fix_circ_scale var(--anim-d) infinite;
}



@keyframes circ1_go {
	0%    {transform: translateY( calc( var(--circ-s-vh) * -2)); animation-timing-function: ease-in; }
	12.5% {transform: translateY( calc( var(--circ-s-vh) * -1)); }
	25%   {transform: translateY( calc( var(--circ-s-vh) *  0)); }
	37.5% {transform: translateY( calc( var(--circ-s-vh) *  1)); animation-timing-function: ease-out;}
	50%   {transform: translateY( calc( var(--circ-s-vh) *  2)); animation-timing-function: ease-in; }
	62.5% {transform: translateY( calc( var(--circ-s-vh) *  1)); }
	75%   {transform: translateY( calc( var(--circ-s-vh) *  0)); }
	87.5% {transform: translateY( calc( var(--circ-s-vh) * -1)); animation-timing-function: ease-out;}	
	100%  {transform: translateY( calc( var(--circ-s-vh) * -2)); }
}

@keyframes circ2_go {
	0%    {transform: translate( calc( var(--circ-s-vh) * var(--sin_120) * -2),calc(var(--circ-s-vh) * var(--cos_120) * -2)); animation-timing-function: ease-in; }
	12.5% {transform: translate( calc( var(--circ-s-vh) * var(--sin_120) * -1),calc(var(--circ-s-vh) * var(--cos_120) * -1)); }
	25%   {transform: translate( calc( var(--circ-s-vh) * var(--sin_120) *  0),calc(var(--circ-s-vh) * var(--cos_120) *  0)); }
	37.5% {transform: translate( calc( var(--circ-s-vh) * var(--sin_120) *  1),calc(var(--circ-s-vh) * var(--cos_120) *  1)); animation-timing-function: ease-out;}
	50%   {transform: translate( calc( var(--circ-s-vh) * var(--sin_120) *  2),calc(var(--circ-s-vh) * var(--cos_120) *  2)); animation-timing-function: ease-in; }
	62.5% {transform: translate( calc( var(--circ-s-vh) * var(--sin_120) *  1),calc(var(--circ-s-vh) * var(--cos_120) *  1)); }
	75%   {transform: translate( calc( var(--circ-s-vh) * var(--sin_120) *  0),calc(var(--circ-s-vh) * var(--cos_120) *  0)); }
	87.5% {transform: translate( calc( var(--circ-s-vh) * var(--sin_120) * -1),calc(var(--circ-s-vh) * var(--cos_120) * -1)); animation-timing-function: ease-out;}	
	100%  {transform: translate( calc( var(--circ-s-vh) * var(--sin_120) * -2),calc(var(--circ-s-vh) * var(--cos_120) * -2)); }
}

@keyframes circ3_go {
	0%    {transform: translate( calc( var(--circ-s-vh) * var(--sin_240) * -2),calc(var(--circ-s-vh) * var(--cos_240) * -2)); animation-timing-function: ease-in; }
	12.5% {transform: translate( calc( var(--circ-s-vh) * var(--sin_240) * -1),calc(var(--circ-s-vh) * var(--cos_240) * -1));}
	25%   {transform: translate( calc( var(--circ-s-vh) * var(--sin_240) *  0),calc(var(--circ-s-vh) * var(--cos_240) *  0));}
	37.5% {transform: translate( calc( var(--circ-s-vh) * var(--sin_240) *  1),calc(var(--circ-s-vh) * var(--cos_240) *  1)); animation-timing-function: ease-out;}
	50%   {transform: translate( calc( var(--circ-s-vh) * var(--sin_240) *  2),calc(var(--circ-s-vh) * var(--cos_240) *  2)); animation-timing-function: ease-in; }
	62.5% {transform: translate( calc( var(--circ-s-vh) * var(--sin_240) *  1),calc(var(--circ-s-vh) * var(--cos_240) *  1));}
	75%   {transform: translate( calc( var(--circ-s-vh) * var(--sin_240) *  0),calc(var(--circ-s-vh) * var(--cos_240) *  0));}
	87.5% {transform: translate( calc( var(--circ-s-vh) * var(--sin_240) * -1),calc(var(--circ-s-vh) * var(--cos_240) * -1)); animation-timing-function: ease-out;}	
	100%  {transform: translate( calc( var(--circ-s-vh) * var(--sin_240) * -2),calc(var(--circ-s-vh) * var(--cos_240) * -2));}
}

@keyframes fix_circ_scale {
	0%    {transform: scale(1); animation-timing-function: ease-in; }
	12.5% {transform: scale(1);}
	25%   {transform: scale( calc( var(--circ-s) / (var(--circ-blur) * 2) ) );}
	37.5% {transform: scale(1); animation-timing-function: ease-out;}
	50%   {transform: scale(1); animation-timing-function: ease-in; }
	62.5% {transform: scale(1);}
	75%   {transform: scale( calc( var(--circ-s) / (var(--circ-blur) * 2) ) );}
	87.5% {transform: scale(1); animation-timing-function: ease-out;}	
	100%  {transform: scale(1);}
}

@keyframes long_rotate {
	0%   {transform: rotateZ(0deg)   scale(var(--circ-block-scale));    animation-timing-function: ease-in;}
	50%  {transform: rotateZ(360deg) scale(var(--circ-block-scale));  animation-timing-function: ease-out;}
	100% {transform: rotateZ(720deg) scale(var(--circ-block-scale)); }
}